In [1]:
import pyodbc
import pandas as pd
import json
import uuid
import socket
import requests
from SqlDBUtil import SqlDBUtil
import os

In [4]:
lstdriverBranch = os.listdir(r"\\builds\nightly\displaySanity")

In [7]:
df =pd.DataFrame(lstdriverBranch)

In [8]:
df.to_

             0
0  bugfix_main
1      chips_a
2      r400_00
3      r415_00
4      r418_00
5      r421_00
6      r435_00
7      r440_00
8      r445_00
9      r450_00

In [6]:
json.dumps({'results': lstdriverBranch})

'{"results": ["bugfix_main", "chips_a", "r400_00", "r415_00", "r418_00", "r421_00", "r435_00", "r440_00", "r445_00", "r450_00"]}'

In [5]:
gettemp = "http://hqswqadb02/DevtestDBAPI/api/Project/GetLatest20Projects?templateProjectId=1072"

In [6]:
Jsonresponse=requests.get(gettemp)

In [11]:
lst = json.loads(Jsonresponse.text)

In [12]:
projectdf = pd.DataFrame(lst)

,AccountType,Groups,ProjectDescriptor,ProjectId,ProjectIdentifier,ProjectName,ProjectType,TemplateProjectId
0,None,[],None,1309,GFN_GS425_1309,GFN Work Project GS4.25,None,1072
1,None,[],None,1308,R455,GPU Work Project Vx R455,None,1072
2,None,[],None,1307,GFN_GS424_1307,GFN Work Project GS4.24,None,1072
3,None,[],None,1306,GFN_GS423_1306,GFN Work Project GS4.23,None,1072
4,None,[],None,1305,GRIDSW_110,GRIDSW Work Project 11.x,None,1072
5,None,[],None,1304,Cloud_XR,CloudXR Work Project,None,1072
6,None,[],None,1303,GFN_GS422_1303,GFN Work Project GS4.22,None,1072
7,None,[],None,1302,R450,GPU Work Project Vx R450,None,1072
8,None,[],None,1301,GFN_GS421_1301,GFN Work Project GS4.21,None,1072
9,None,[],None,1296,GFN_DMO,GFN DMO Work Project,None,1072
10,None,[],None,1295,R445,GPU Work Project Vx R445,None,1072
11,None,[],None,1294,GFN_GS420_1294,GFN Work Project GS4.20,None,1072
12,None,[],None,1293,GFE_321,GFE Work Project 3.21,None,1072
13,None,[],None,1292,GRIDSW_LIC_2,GRIDSW Licensing 2.0,None,1072
14,None,[],None,1291,GRIDSW_100,GRIDSW Work Project 10.x,None,1072
15,None,[],None,1290,GFN_GS419_1290,GFN Work Project GS4.19,None,1072
16,None,[],None,1289,GFN_GS418_1289,GFN Work Project GS4.18,None,1072
17,None,[],None,1288,GPU_ComputingSafety,GPU Computing Safety Work Project,None,1072
18,None,[],None,1287,R440,GPU Work Project Vx R440,None,1072
19,None,[],None,1284,GPU_V0B,GPU Work Project For V0b,None,1072

In [3]:
release = '1120'
requester ='hlahoti'

In [4]:
query = """ SELECT TOP 1000 [Submission_Group_Id],SJT.[Submission_Id],
        [Job_Id],[Job_Status] ,[Template_Id]
        ,[Sequence] ,[Root_Folder] ,[Job_Start_Time],
        [Job_End_Time],[Job_Result] ,[BugId],[ResultPath] FROM [Experi1].[dbo].[Sirius_Job_Table] SJT
        left join [Experi1].[dbo].[Sirius_Submission] SS
        on SJT.[Submission_Id] = SS.[Submission_Id]  Left join [Experi1].[dbo].[LAT_Analysis_Information] LAT on 
		SJT.[BAT_Analysis_Id] = LAT.[id]  
		where [Submission_Group_Id] in (20224) """

In [38]:
status , df =SqlDBUtil.execute_select_query_get_df2(query,SqlDBUtil.IT_PROD_SQL174)

In [39]:
print(df['ResultPath'][0])

\\netapp-pu02\gpu_qa_pu\public\SpiderResultsV2\DESKTOP-IKG9BOU\Result_20205211842\SpiderTestConfigs\WS_DP_-_Change_Resolution_20550\TmpId_104752_L_1_Spider_Seq_10-18-165

In [40]:
df['ResultPath']=df['ResultPath']+ '\TestResultDetails.html'

In [60]:
df['a'] = df['ResultPath']

In [61]:
df['a'] = df['a'].replace("\\", "//")

In [62]:
df['a'] = df['a'].apply(lambda x: '<a href=file:{0}">LogsLocation</a>'.format(x))

In [63]:
print(df['a'][0])

<a href=file:\\netapp-pu02\gpu_qa_pu\public\SpiderResultsV2\DESKTOP-IKG9BOU\Result_20205211842\SpiderTestConfigs\WS_DP_-_Change_Resolution_20550\TmpId_104752_L_1_Spider_Seq_10-18-165\TestResultDetails.html">LogsLocation</a>

In [59]:
df['a'][0].replace("\\", "//")

'<a href=file:////netapp-pu02//gpu_qa_pu//public//SpiderResultsV2//DESKTOP-IKG9BOU//Result_20205211842//SpiderTestConfigs//WS_DP_-_Change_Resolution_20550//TmpId_104752_L_1_Spider_Seq_10-18-165//TestResultDetails.html">link</a>'

In [66]:
 def reverse(self, n: int) -> int:
        if (n > 2**16 or n < -(2**31)):
            return 0
        else :
            q = 1
            if (n < 0):
                q = -1
            z=0
            while(abs(n)!=0):
                y=abs(n)%10
                z=z*10+y
                if (n > 2**31 or n < -(2**31)):
                    return 0 
                n=abs(n)//10      
            return z * q

In [68]:
reverse(12)

21

In [85]:
def containsDuplicate(a):
        num = {}
        req = []
        c = False
        for i in range(0,len(a)):
            num[a[i]] = 0
        for i in range(0,len(a)):
            num[a[i]] = num[a[i]] + 1
        print(num)
        for i in num:
            if num[i] > 1 :
                c = True
                req.append(i)
        return req

In [86]:
a = [4,3,3,1,2,2]
containsDuplicate(a)

{4: 1, 3: 2, 1: 1, 2: 2}

[3, 2]

In [51]:
df

,Submission_Group_Id,Submission_Id,Job_Id,Job_Status,Template_Id,Sequence,Root_Folder,Job_Start_Time,Job_End_Time,Job_Result,BugId,ResultPath,a
0,20224,20550,21551,Completed,104752,10-18-165,Library\\Multiple_Display\\WS_DP\\WS_DP_-_Chan...,2020-05-21 19:02:24,2020-05-21 19:04:06,HARDWARE_NOT_AVAILABLE,-1,\\netapp-pu02\gpu_qa_pu\public\SpiderResultsV2...,<a href=file:\\netapp-pu02\gpu_qa_pu\public\Sp...
1,20224,20551,21552,Completed,1094489,10-9,Library\\User_Experience\\Notebook\\NB_UX\\Swi...,2020-05-21 18:58:44,2020-05-21 19:01:18,HARDWARE_NOT_AVAILABLE,-1,\\netapp-pu02\gpu_qa_pu\public\SpiderResultsV2...,<a href=file:\\netapp-pu02\gpu_qa_pu\public\Sp...
2,20224,20552,21553,Completed,1876413,302-304-308-100-32-73-310,PHW\\CQI_2018\\CQI_Consumer\\Sanity\\GFE,2020-05-21 18:43:43,2020-05-21 18:57:36,FAIL,2988689,\\netapp-pu02\gpu_qa_pu\public\SpiderResultsV2...,<a href=file:\\netapp-pu02\gpu_qa_pu\public\Sp...

In [52]:
df=df.rename(columns={"IssueID": "Task_Id","ProjectID":"Project_ID"})

In [53]:
df1= df[['Project_ID', 'Task_Id']]

KeyError: "['Project_ID' 'Task_Id'] not in index"

In [ ]:
status,whereclause =SqlDBUtil.generate_where_clause_string(df1[0:5])

In [52]:
whereclause

["(Project_ID = '1120' AND Task_Id = '312378') OR (Project_ID = '1120' AND Task_Id = '312379') OR (Project_ID = '1120' AND Task_Id = '312380') OR (Project_ID = '1120' AND Task_Id = '312382') OR (Project_ID = '1120' AND Task_Id = '362351')"]

In [53]:
task_already_created_query = "SELECT TOP 1000 [Task_Id]  FROM [Experi1].[dbo].[Sirius_Task_Info] where " + " OR ".join(whereclause)

In [54]:
task_already_created_query

"SELECT TOP 1000 [Task_Id]  FROM [Experi1].[dbo].[Sirius_Task_Info] where (Project_ID = '1120' AND Task_Id = '312378') OR (Project_ID = '1120' AND Task_Id = '312379') OR (Project_ID = '1120' AND Task_Id = '312380') OR (Project_ID = '1120' AND Task_Id = '312382') OR (Project_ID = '1120' AND Task_Id = '362351')"

In [55]:
status , result =SqlDBUtil.execute_select_query_get_df2(task_already_created_query,SqlDBUtil.IT_PROD_SQL174)

In [63]:
result['Task_Id']

0    312378
1    312379
Name: Task_Id, dtype: int64

In [69]:
x= df[~df.Task_Id.isin(result.Task_Id)]

In [70]:
len(x)

98

In [22]:
getOpenTaskURL = 'http://hqswqadb02/DevTestDBAPI/api/WorkProject/GetTaskIDsForUser'

In [23]:
req ='hlahoti'

In [24]:
pid='1120'

In [26]:
 Jsonresponse=requests.get(getOpenTaskURL, params = {"wrkProjectId": 1120, "username": 'hlahoti',"isclosed":'no'})

In [42]:
response = json.loads(Jsonresponse.text)

799

In [47]:
taskid =str(response[1:10])
taskid

'[363877, 363712, 363890, 363714, 363891, 363716, 363892, 363688, 363878]'

In [45]:
query = """SELECT TOP 100 [ProjectID],[IssueID],[TestTemplateID],[IssueTitle]
            ,[EnvironmentInfo],FieldVarcharLong7, DevtestDB2.dbo.GetTestTempFolderPath(1072,TestTemplateID,TestTaskFolderID) as TempFolderPath       
            FROM [DevtestDB2].[dbo].[TestTaskGeneralInfo] WITH(NOLOCK)
            where ProjectID = '{}' and  IfClosed = 0 and [FieldVarcharLong7] is not NULL and
            CrntOwnerID in (SELECT [LoginID] FROM [DevtestDB2].[dbo].[LoginAccount]   where LoginName ='{}')""".format(release,requester)
cursor.execute(query)
row = cursor.fetchall()

'SELECT TOP 1000 \n      [Task_Id]  FROM [Experi1].[dbo].[Sirius_Task_Info] where [Project_ID] = 1120 and [Task_Id] in [363877, 363712, 363890, 363714, 363891, 363716, 363892, 363688, 363878]'

In [44]:
cnxn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};''Server=RNNVSQL174;''UID=wbt_user;''PWD=wbt_user@123;')
cursor = cnxn.cursor()
query = """SELECT TOP 1000 
      [Task_Id]  FROM [Experi1].[dbo].[Sirius_Task_Info] where [Project_ID] = {} and [Task_Id] in {}""".format(pid,response[1:10])
cursor.execute(query) 
row = cursor.fetchall()

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Incorrect syntax near '363877, 363712, 363890, 363714, 363891, 363716, 363892, 363688, 363878'. (102) (SQLExecDirectW)")

In [38]:
listofdata = [list(x) for x in row]
listofdata

[[312378], [312379]]

In [16]:
query = """SELECT TOP 100 [ProjectID],[IssueID],[TestTemplateID],[IssueTitle]
            ,[EnvironmentInfo],FieldVarcharLong7, DevtestDB2.dbo.GetTestTempFolderPath(1072,TestTemplateID,TestTaskFolderID) as TempFolderPath       
            FROM [DevtestDB2].[dbo].[TestTaskGeneralInfo]
            where ProjectID = '{}' and  IfClosed = 0 and [FieldVarcharLong7] is not NULL and
            CrntOwnerID in (SELECT [LoginID] FROM [DevtestDB2].[dbo].[LoginAccount]   where LoginName ='{}')""".format(pid,req)

In [17]:
query

"SELECT TOP 100 [ProjectID],[IssueID],[TestTemplateID],[IssueTitle]\n            ,[EnvironmentInfo],FieldVarcharLong7, DevtestDB2.dbo.GetTestTempFolderPath(1072,TestTemplateID,TestTaskFolderID) as TempFolderPath       \n            FROM [DevtestDB2].[dbo].[TestTaskGeneralInfo]\n            where ProjectID = '1120' and  IfClosed = 0 and [FieldVarcharLong7] is not NULL and\n            CrntOwnerID in (SELECT [LoginID] FROM [DevtestDB2].[dbo].[LoginAccount]   where LoginName ='hlahoti')"

In [4]:
socket.inet_aton('gpuswqa-host')

OSError: illegal IP address string passed to inet_aton

In [7]:
jobGuid

'0299cecf-e48b-4940-b313-1085208bf81d'

In [8]:
cnxn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};''Server=RNDVSQL174;''UID=wbt_user;''PWD=wbt_user@123;')
cursor = cnxn.cursor()

In [ ]:
query = """INSERT INTO [dbo].[Sirius_Job_Table]
           ([Submission_Id]
         
           ,[Template_Id]
           ,[Sequence]
           
           ,[JobGuid])
     VALUES
           (1,'123','11-23-33',
           ,fier,>)
"""

In [34]:
cnxn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};''Server=RNDVSQL174;''UID=wbt_user;''PWD=wbt_user@123;')
cursor = cnxn.cursor()
query = """SELECT TOP 1000 SSG.[Submission_Group_Id],[Submission_Id]
        ,[Submission_Status]  ,[Machine]      ,[Requester]
  FROM [Experi1].[dbo].[Sirius_Submission] SS left join [Experi1].[dbo].[Sirius_Submission_Group] SSG 
  on SSG.[Submission_Group_Id] = SS.[Submission_Group_Id]"""
cursor.execute(query)
row = cursor.fetchall()
listofdata = [list(x) for x in row]
if(row):
        GetResultTableDF = pd.DataFrame(listofdata)
        GetResultTableDF.fillna(value="-123", inplace=True)

In [35]:
 GetResultTableDF.columns = ['Submission_Group_Id','Submission_Id','Submission_Status','Machine' ,'Requester']

In [36]:
GetResultTableDF['Name'] ="sub"

In [17]:
trial=GetResultTableDF.set_index('Name')

In [37]:
Jsondata=GetResultTableDF.to_json(orient ='records')

In [38]:
Jsondata

'[{"Submission_Group_Id":20217,"Submission_Id":20537,"Submission_Status":"Queued","Machine":"gpuswqa-host","Requester":"hlahoti","Name":"sub"},{"Submission_Group_Id":20218,"Submission_Id":20538,"Submission_Status":"Queued","Machine":"gpuswqa-host","Requester":"hlahoti","Name":"sub"}]'

In [39]:
Jsondata=GetResultTableDF.to_json(orient ='index')

In [40]:
Jsondata

'{"0":{"Submission_Group_Id":20217,"Submission_Id":20537,"Submission_Status":"Queued","Machine":"gpuswqa-host","Requester":"hlahoti","Name":"sub"},"1":{"Submission_Group_Id":20218,"Submission_Id":20538,"Submission_Status":"Queued","Machine":"gpuswqa-host","Requester":"hlahoti","Name":"sub"}}'

In [25]:
Jsondata = json.loads(Jsondata)

In [27]:
type(Jsondata)

dict

In [30]:
Jsondata["sub"]= Jsondata.pop("0")

In [32]:
Jsondata

{'1': {'0': 20218,
  '1': 20538,
  '2': 'Queued',
  '3': 'gpuswqa-host',
  '4': 'hlahoti',
  'Name': 'sub'},
 'sub': {'0': 20217,
  '1': 20537,
  '2': 'Queued',
  '3': 'gpuswqa-host',
  '4': 'hlahoti',
  'Name': 'sub'}}